*{
    top:0;
    margin: 0;
    padding: 0;
}
.nav{
    height:50px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: thistle;
}
.nav >a{
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    color:black
  }
  .nav >a:hover{
      color:rgb(52, 52, 52);
  }
.tag{
    text-align: center;
    margin-top: 2vw;
}
#wishlist{
    width:80%;
    margin: auto;
    margin-top: 2%;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap:10px;  
}
.div{
    text-align: center;
    padding-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
}
.div1{
    margin:3%;
    position: relative;
}
.img{
    border-radius: 10px;
    width:93%;
    height: 50%;
}
.div>p{
    margin-top: 2%;
}
.div>p:nth-child(4){
   color:goldenrod
}
.div>p:nth-child(5){
    color:green
}
.pricebox{
    margin-top: 4%;
    display:flex;
    justify-content: space-around;
}
.pricebox >p{
    color:green
}
.pricebox >strike{
    color:gray
}
.btndiv{
    display:flex;
    justify-content: space-around;
    margin-bottom: 5%;
}
#delete{
    background-color: transparent;
    background-image: url('https://cdn-icons-png.flaticon.com/512/1345/1345874.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 25px;
    padding-right: 17px;
    padding-top: 17px;
    padding-bottom: 25px;
    border:0;
    cursor:pointer;
  }